
<header>
  <nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">MATT<span>D</span>VT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'liste_articles' %}">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Films
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'liste' %}">Liste des films</a></li>
              <li><a class="dropdown-item" href="{% url 'ajouter_film' %}">Ajouter un film</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mes Tickets
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'liste_tickets' %}">Liste des tickets</a></li>
              <li><a class="dropdown-item" href="{% url 'creer_ticket' %}">Créer un ticket</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <div class="navbar-nav subnav">
          {% if user.is_authenticated %}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-admin" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Se déconnecter</a></li>
              </ul>
            </div>
          {% else %}

            <div class="menu-action">
              <ul class="list-wrap">
                <li class="header-btn">
                  <a class="nav-link nav-admin" aria-current="page" href="{% url 'connexion' %}">
                    <i class="fa-solid fa-pen-to-square"></i> LOGIN
                  </a>
                </li>

                <li class="header-btn">
                  <a class="nav-link nav-admin" aria-current="page" href="{% url 'admin:index' %}">ADMIN</a>
                </li>
              </ul>
            </div>

          {% endif %}
        </div>
      </div>
    
    </div>
  </nav>
</header>
